<% provide(:title, "About") %>
<section class="page-visual-about"></section>
<h2>About</h2>
<p>Photravel = Photo + Travel</p>
<p>Photravelは、旅行で撮ったおしゃれな写真の共有サービスです。</p>

<section class="page-visual-about-middle">
  <div class="lead_ja">あなたの行きたい場所がそこにある</div>
  <div class="lead_en">You want to travel there.</div>
</section>

