<% provide(:title, "Contact") %>
<div class="contact">
  <div class="contact-visual">
  	<div class="filter">
  	  <div class="caption">
  	  	<h1>Contact</h1>
  	  </div>
  	</div>
  </div>
  <p>何かご不明な点やお問い合わせがある場合は、以下の連絡先にお願いします。</p>
  <p>メール: yukitkym1011@gmail.com</p>
  <p>twitter: <a href="https://twitter.com/yuki_takayama_">yuki_takayama_</a></p>
</div>
