<main class="page_content">			
	<div id="mainVisual" class="first_view_container">
		<div class="cover main">
			<div class="filter">
				<div class="caption">
					<div class="lead_ja">あなたの行きたい場所がそこにある</div>
					<div class="lead_en">You want to travel there.</div>
					<a href="/about/" class="btn_invert">CONCEPT</a>
				</div>
				
			</div>
		</div>
	</div>
	<div>
		<h2>Photo一覧</h2>
	</div>


</main>

