<% provide(:title, 'Photravel一覧') %>
<h1>Photravel一覧</h1>
<section class="page-visual-posts">
  <div class="filter">
  	<p>きっとそこには素晴らしい景色がある</p>
  </div>
</section>

<%= will_paginate %>
<ul class="posts">
  <%= render @posts %>
</ul>
<%= will_paginate %>